{% extends "base.html" %}
{% block content %}
<section>
  <img name="profile" src="/img/profile.jpg">
  <div class="h5">Bonnie Echmalian</div>
  <div>
  I am a professional proofreader.  I'll work hard to make you look great, gain more time, and earn more money.
  </div>
  <div>
  As a lifelong word-nerd, I enjoy the details and minutiae of proofreading and will deliver excellence in work, customer service, and communication.
  </div>
  <div class="h5">For Court Reporters:</div>
  <div>
  I successfully completed the rigorous training course Transcript Proofreading: Theory and Practice, with coursework based on Morson’s English Guide for Court Reporters, the Gregg Reference Manual, the work of Margie Wakeman Wells, and NCRA guidelines.
  </div>
  <div class="h5">For General Proofreading:</div>
  <div>
  I am a perfectionist, and strive for a final product that is error-free, consistent, and accurate.
I have a B.A. in English and over 10 years experience in education and library media services.
  </div>
  <div>
  If you’d like to learn more about my education and experience, visit my <a href="{{ LINKEDIN }}" target="_new">Linkedin profile</a>; I’d love to connect with you there, too!
  </div>
</section>
{% endblock content %}
