<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BEproofreading{% if page != "index" %} - {{ page }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="h1"><img src="/img/magnifying-glass.png"> <span class="initials">BE</span> Proofreading</div>
      <div class="h2"><a target="_new" href="mailto:{{ EMAIL }}">{{ EMAIL }}</a></div>
    </header>
    <nav>
      <a{% if page != "index" %} href="/"{% endif %}>Home</a> |
      <a{% if page != "services" %} href="/services.html"{% endif %}>Services</a> |
      <a{% if page != "rates" %} href="/rates.html"{% endif %}>Rates</a> |
      <a{% if page != "about" %} href="/about.html"{% endif %}>About Me</a> |
      <a{% if page != "shop" %} href="/shop.html"{% endif %}>My Shop</a>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer>
      <b>Contact me:</b> <a target="_new" href="mailto:{{ EMAIL }}">{{ EMAIL }}</a> |
       <a target="_new" href="{{ LINKEDIN }}">LinkedIn</a>
    </footer>
  </body>
</html>
