{% extends "base.html" %}
{% block content %}
  <section class="side-by-side">
    <div class="logo">
      <img src="/img/logo.png">
    </div>
    <div>
      <div class="h3">QUALITY & ACCURACY</div>
      <div class="h4"><li>Legal Transcript Proofreading for Court Reporters</li></div>
      <div class="h4"><li>General Proofreading</li></div>
    </div>
  </section>
  <section class="textbox">
    <div class="h3">Welcome to BE Proofreading!</div>
    <div>Quality work earns you the respect of your clients.
    Proofreading ensures that you submit the cleanest transcripts, the best copy, and the most readable website.</div>
    <div>While I’m proofreading, you can focus on other aspects of your business or simply catch up on life.</div>
  </section>
{% endblock content %}
