{% extends "base.html" %}
{% block content %}
<section>
  <div class="h3">Rates</div>
  <table>
    <tbody>
      <tr>
        <td class="poof fixed-width"></td>
        <th>Standard<div class="subtext">(48-72 hours<sup>*</sup>)</div></th>
        <th>Rush<div class="subtext">(24-48 hours<sup>*</sup>)</div></th>
        <th>Expedite<div class="subtext">(less than 24 hours<sup>*</sup>)</div></th>
      </tr>
      <tr>
        <th class="fixed-width">Transcript Proofreading</th>
        <td>$0.45 per page</td>
        <td>$0.60 per page</td>
        <td>$0.75 per page</td>
      </tr>
      <!--
      <tr>
        <th class="fixed-width">✩&nbsp;New&nbsp;Client&nbsp;Rate&nbsp;✩
          <div class="subtext">
            (Valid for first submitted job, up to 50 pages, standard turnaround only)
          </div>
        </th>
        <td>$0.30 per page</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      -->
      <tr>
        <th class="fixed-width">
          <div><b>Highly technical transcript</b></div>
          <div><b>Messy transcript</b></div>
          <div class="subtext">(at my discretion)</div>
        </th>
        <td>Additional $0.10/page</td>
        <td>Additional $0.10/page</td>
        <td>Additional $0.10/page</td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <th class="fixed-width">Business Hours:<br>8:00 a.m. - 8:00 p.m.</th>
        <td>Work sent after 8:00 p.m. EST will be counted as received at 8:00 a.m. the following
        day.  Otherwise, rates are based on the time stamped on the email.</td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <th class="fixed-width">General Proofreading</th>
        <td>Rates to be set individually for each project.</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="h3">Invoicing</div>
  <div>
    First-time clients or a one-time job will be invoiced upon completion of the job,
    with payment due in 15 days. All other clients will be billed on the 1st and 15th
    of each month, with payment due in 15 days. 
    I accept payments via credit card (processed through PayPal).
  </div>
</section>
{% endblock content %}
