{% extends "base.html" %}
{% block content %}
<section>
  <ol>
    <li><a target="_new" href="mailto:{{ EMAIL }}">Contact me</a> to discuss your needs and my availability.</li>
    <li>(First time only) Complete the <a target="_new" href="{{ CONTACT_FORM }}">Reporter's Preference Form</a>.
    <li><i>Legal transcripts</i> should be sent in PDF format. (See below for notes on working with PDF.)  I mark in red and highlight in yellow; only annotated pages will be returned.  For large jobs, please consider sending it in 50-page increments.</li>
    <li><i>General proofreading</i> job parameters will be at the client's discretion.</li>
    <li>I will email you when I receive the job.</li>
    <li>The job will be returned by email within the specified time.</li>
  </ol>
</section>
{% endblock content %}
