{% extends "base.html" %}
{% block content %}
<section>
  <div class="h5">My Shop</div>
  <div>
    Check out my <a href="https://BJEdesign.redbubble.com" target="_new">Redbubble store!</a>
  </div>
  <div>
    Scroll down to Collections and Categories to view fun themed products.
  </div>
  <div style="text-align: center;">
    <img class="shop" src="/img/shop-product1.jpg">
    <img class="shop" src="/img/shop-product2.jpg">
    <img class="shop" src="/img/shop-product3.jpg">
    <img class="shop" src="/img/shop-product4.jpg">
    <img class="shop" src="/img/shop-product5.jpg">
    <img class="shop" src="/img/shop-product6.jpg">
  </div>
</section>
{% endblock content %}
